/* Universal Styles */

html {
    font-size: 16px;
    font-family: Arial;
    color: black;
}

/* Header & Navigation */

.navbar {
    display: fixed;
    margin: 0px;
    padding: none;
    color: navy;
    font-weight: bold;
    font-size: 1.25rem;
}

.navbar a {
    text-decoration: none;
}

.navbar li{
    display: inline-block;
    padding-right: 5%;
}

.navbar h1 {
    font-size: 2.25rem;
}

/* 2 Column Layout */

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 75px;
}

/* Profile picture and its container*/

.column1 {
    width: 50%;
    
}

#profilepic {
    border-radius: 50%;
    border: 2px solid navy;
    height: 70%;
    width: 70%;
}

/* About the artist section */

.column2 {
    width: 50%;
    border: 2px solid navy;
    margin: 0 100px;
    padding: 0 15px;
}

/* The biography paragraph */

.about {
    padding: 0 75px;
    margin: 10 0px;
}

/*Social Media Icons*/

#socialmedia {
    width: 20px;
    height: 20px;
}



