/* Universal Styles */

html {
    font-size: 16px;
    font-family: Arial;
    color: black;
}

/* Header & Navigation */

.navbar {
    display: fixed;
    margin: 0px;
    color: navy;
    font-weight: bold;
    font-size: 1.25rem;
}

.navbar a {
    text-decoration: none;
}

.navbar li{
    display: inline-block;
    padding-right: 5%;
}

.navbar h1 {
    font-size: 2.25rem;
}

/*Social Media Icons*/

#socialmedia {
    width: 20px;
    height: 20px;
}

/* Gallery of artworks */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery img {
    width: 25%;
    height: 25%;
    padding: 10px;
    
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    margin-left: 10px;
}




